<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--Navigation Bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TimeTracker</a>
    </div>
  </div>
</nav>
<!--Type in email to reset password-->
<div class="loginContainer" align="center">
  <h1 align="center"><b>Reset password</b></h1>

  <div class="container">

    <%= form_tag password_resets_path do %>
        <label><b>Email</b></label>
        <%= text_field_tag :email %>
        <%= submit_tag 'Reset Password' %>
    <% end %>

  </div>


</div>