<% if object.errors.any? %>
    <div class="panel panel-warning errors">
      <ul class="panel-body">
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>