// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body_login {
  background-color: #2F4F4F;
}

.loginContainer {
  border: 5px solid #696969;
  width: 450px;
  margin: auto;
  margin-top:150px;
  border-radius: 15px;
  background-color: #F5F5F5;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 180px;
  padding:10px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */

.btn {
  background-color: #0000CD;
  color: white;
  padding: 14px 20px;
  margin: 0px 20px;
  border: 2px solid;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
}
/* Add padding to containers */
.container {
  padding: 16px;
  width: 350px;
}
/* The "Forgot password" text */
span.psw {
  padding-top: 16px;
  padding-left: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
