<div class="editContainer" align="center">
  <h1 align="center"><b>Edit Category</b></h1>

  <%= form_for @category, :url => update_cat_path, remote: true do |c| %>
      <div class="container">

        <%= render 'shared/errors', object:@category %>

        <label><b>Category Name</b></label>
        <%= c.text_field :c_name, :value => @category.c_name %>

        <br>
        <%= c.submit 'Save', class: 'btn btn-primary' %>
        <!-- <button type="submit">Login</button> -->

      </div>
  <% end %>


</div>