<% @activities.each do |activity| %>

    <div class = "row">
      <div class = 'col-md-4'>
        <h5>
          <%= activity.a_name %>
        </h5>
      </div>

      <div class = 'col-md-4'>

      </div>

      <div class ='col-md-4'>
        <%= activity.total_time %>
      </div>

    </div>

<% end %>