

<%= form_for @activity, :url => url_for(:action => 'create') do |a| %>
  <div class = "form-group">
    <div class = "row top-buffer text-center">

      <div class='col-md-3'>
        <p class="h1">Activity Name</p>
      </div>
    </div>

    <div class = "row top-buffer text-center">
        <div class='col-md-3'>
          <%= a.text_field(:a_name, class: 'form-control', placeholder: 'Activity Name') %>
        </div>
      </div>

    <div class ="row top-buffer text-center">
      <div class="col-md-3">
        <%= a.submit 'Create', class: 'btn btn-primary'%>
      </div>
    </div>



  </div>
<% end %>